/* 
transfer the remaining styles to this file
*/

.Header {
  display: flex;
  font-family: Helvetica;
  height: 5rem;
  padding-left: 1rem;
  justify-content: center;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.board {
  margin: 4rem auto;
  display: flex;
  width: 600px;
  flex-wrap: wrap;
}

.board div {
  border: 3px solid var(--gainsboro);
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}