:root {
--wheat: #EAD2AC;
--ny-pink: #DF928E;
--old-rose: #C58882;
--gainsboro: #D1DEDE;
--eerie-black: #1D201F;
}

* {
  box-sizing: border-box;
}


html {
  background: var(--old-rose);
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: var(--eerie-black);
}